body {
  background-color: blanchedalmond;
  font-family: 'Fredoka One', sans-serif;
}
header{
  
  display: flex;
  align-items: center;
  width: 100%;
  height: 20%;          
  overflow: hidden;
}
h1 {
  color: red;
  font-size: xx-large;
  margin:1%;
}
span{
  margin: 0.25rem;
}
#navbar {
  background-color: red;
}  
#navbar a{
  color:white;
  text-decoration: none;
  padding:2em;
  margin: 2em;
}
#navbar a:visited{
  color:white;
}
#homesection{
  text-align: center;
  margin:1%;
}
.container{
  display:flex;
  width: 100%;
}
#myFullPokemon{
  background-color: orange;
  width:20%;
  margin:1%;
  color:blue;
}
#myFullPokemon h2{
  margin:2%;
}
#myFullPokemon li:hover{
  cursor:pointer;
}
button{
  margin:2%;
  color:white;
  height:5vh;
  font-family: 'Fredoka One', sans-serif;
  padding:2%;
  background-color: blue;
  border-radius: 10%;
}
#detailview{
  margin: 1%;
  width:60%;
  color:white;
}
#myselectedpokemon{
  background-color: gray;
}
#detailTitle{
  color:coral;
  font-size:xx-large;
  font-weight: 200;
}
#choice{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#myselectedpokemon label {
  width:30%;
  text-align: right;
  margin-right: 1rem;
  margin-left:1%;
}

#myselectedpokemon input {
  width:60%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
#field1, #field2, #field3 {
  display: none;
}
#field5 {
  width:100%;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
#nameshow {
  display:flex;
  font-size:xx-large;
  color:gold;
  margin:5%;
  padding: 3%;
}
pokemon-stats {
  display:flex;
  flex-direction: column;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  height:100%;
}
#statscard{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35vh;
  height:35vh;
  border: 8px solid gold;
  border-radius:10px;
  margin-left: 4%;
  background-image: linear-gradient(to bottom right, red, white);
  
}
#titlecard{

}
#contentcard{
  display:flex;
  border: 3px solid gold;
  width:100%;
}
#picture{
  width:60%;
  height:20vh;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  background-image: linear-gradient(to bottom right, grey, white);
}
#datasheet{
  width: 40%;
  background-image: linear-gradient(to bottom right, blue, fuchsia);
  border: 1px solid gold;
  color:gold;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
#actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
pokemon-favs {
  color:fuchsia;
  
}
#favs {
  background-color:lightskyblue;
  margin: 1rem;
  padding: 1rem;
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  body {
    background-color: blanchedalmond;
    font-family: 'Fredoka One', sans-serif;
  }
  header{
    
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;          
    overflow: hidden;
  }
  h1 {
    color: red;
    font-size:medium;
    margin:1%;
  }
  span{
    margin: 0.25rem;
  }
  #navbar {
    background-color: red;
  }  
  #navbar a{
    color:white;
    text-decoration: none;
    padding:2em;
    margin: 2em;
  }
  #navbar a:visited{
    color:white;
  }
  #homesection{
    text-align: center;
    margin:1%;
  }
  .container{
    display:flex;
    flex-direction: column;
    width: 100%;
  }
  #myFullPokemon{
    display:flex;
    flex-direction: column;
    background-color: orange;
    width:100%;
    margin:1%;
    color:blue;
  }
  #myFullPokemon h2{
    margin:2%;
  }
  #myFullPokemon li:hover{
    cursor:pointer;
  }
  button{
    margin:2%;
    color:white;
    font-family: 'Fredoka One', sans-serif;
    padding:2%;
    background-color: blue;
    border-radius: 10%;
  }
  #detailview{
    margin: 1%;
    width:100%;
    color:white;
  }
  #myselectedpokemon{
    background-color: gray;
    width: 100%;
  }
  #detailTitle{
    color:coral;
    font-size:larger;
    font-weight: 200;
  }
  #myselectedpokemon label {
    width:10%;
    text-align: right;
    margin-right: 1rem;
    margin-left:1%;
  }
  #myselectedpokemon input {
    width:60%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
  }
  #field1, #field2, #field3 {
    display: none;
  }
  #field5 {
    width:100%;
    display: flex;
    justify-content: center;
    
  }
  #nameshow {
    display:flex;
    font-size:larger;
    color:gold;
  }
 
  pokemon-stats {
    display:flex;
    flex-direction: column;
    margin: 1rem;
  }
  
  #stats{
    display:flex;
    flex-direction: column;
  }
  #nameshow{
    font-size:xx-large;
    color:gold;
  }
  #picture{
    width:60%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
  }
  #datasheet{
    width: 40%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
  #actions {
    display: flex;
  }
  pokemon-favs {
    color:fuchsia;
    
  }
  #favs {
    background-color:lightskyblue;
    margin: 1rem;
    width: 90%;
    overflow: hidden;
  }

}